# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
.melos_tool/

# Build outputs
/build/
**/build/

# Android
android/.gradle/
android/local.properties
android/app/*.keystore
android/app/*.jks
android/app/debug/
android/app/release/
android/app/profile/
android/app/build/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/build/

# macOS
macos/Flutter/ephemeral/
macos/build/

# Web
web/.firebase/
web/build/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Backups/otros
android.bak/
*_bak/
*_backup/
